[submodule "submodules/360monodepth"]
	path = submodules/360monodepth
	url = https://github.com/TingtingLiao/360monodepth.git
[submodule "submodules/2d-gaussian-splatting"]
	path = submodules/2d-gaussian-splatting
	url = https://github.com/hbb1/2d-gaussian-splatting.git
[submodule "submodules/simple-knn"]
	path = submodules/simple-knn
	url = https://github.com/camenduru/simple-knn.git
[submodule "submodules/diff-surfel-rasterization"]
	path = submodules/diff-surfel-rasterization
	url = https://github.com/hbb1/diff-surfel-rasterization.git
