tqdm
numpy
ninja 
pandas 
scipy
colorama
scikit-learn
matplotlib
opencv-python
imageio
imageio-ffmpeg
omegaconf
torchmetrics 
einops
plyfile
pygltflib 
dearpygui 
huggingface_hub 
diffusers
accelerate
xformers
triton
transformers
realesrgan==0.3.0
py360convert
kiui 
timm
Click